<html lang="<%= props.lang %>">
  <head>
    <title>Twitter Thread</title>
  </head>
  <body>
    <main>
      <% props.thread.forEach(tweet => { %>
        <%- include('tweet', { tweet }) %> 
      <% }) %>
    </main>
  </body>
</html>
