<html lang="<%= props.lang %>">
  <head>
    <title>Twitter Thread</title>
  </head>
  <body>
    <main>
      <% props.thread.forEach(tweet => { %> <%- tweet.text %> <% }) %>
    </main>
  </body>
</html>
