<html lang="<%= props.lang %>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter Thread</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="gallery/tobii.min.css">
  </head>
  <body>
    <div class="container">
      <main>
        <% props.thread.forEach((tweet, index) => { %>
          <%- include('partial/tweet', { tweet }) %> 
        <% }) %>
      </main>
    </div>
    <script src="tobii.min.js"></script>
  </body>
</html>
