<html lang="<%= props.lang %>">
  <head>
    <title>Twitter Thread</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <main>
        <% props.thread.forEach((tweet, index) => { %>
          <%- include('partial/tweet', { tweet }) %> 
        <% }) %>
      </main>
    </div>
  </body>
</html>
